.mainCard {
    margin-top: 20px;
}

.amountField input {
    text-align: right;
}

.textField {
    width: 100%;
}

.modal {
    width: 60%;
    background-color: white;
    padding: 20px;
    margin: 20% auto auto;
}

.buttonBar {
    text-align: right;
}